* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.tictactoe-board {
    padding: 0;
    display: grid;
    grid-template: repeat(3, 60px) / repeat(3, 60px);
    place-content: center;
    place-items: center;
    gap: 5px;

    background-color: rgba(85, 78, 78, 0.274);
}

.marker-container {
    display: grid;
    place-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;

    background-color: skyblue;
}

dialog {
    margin: auto;
}